<%= content_for :page_intro, t(".changing_password")%>
<% hide_navigation %>

<%= form_for(@member, :url => :update_password_member, :method => :put) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-wrapper">
    <%= f.classy_password_field :password %>
    <%= f.classy_password_field :password_confirmation %>

    <div>
      <span class="hint"><%= t ".case_sensitive" %></span>
    </div>
    <%= f.classy_submit %>
  </div>
  
  <div class="clear"></div>
  
<% end %>
